
div{
    background-color: rgb(72, 83, 97);


}

.parrafos{
    background-color: rgb(212, 243, 248);
    
}


#video{
    background-color: rgb(200, 243, 229);
}

#video{
    background-color: rgb(240, 238, 235);
}
 
/*indexacion*/

div.parrafos p{
    color: rgb(0, 33, 143);
}

table.parrafos{
    border-collapse: collapse;
    max-width: 800px;
    margin:35px 300px;
    padding:35px 20px;
    
}

header h1{
  
    display: inline;
    padding: 0px 20px; 
    z-index: 1;
    
}

header nav{
    
    display: inline;
    position: absolute;
    right: 5px;
    top: 10px;

}

header nav ul{
    
    display: inline;
}

header nav ul li{
   
    display: inline;
    position: relative;
}

nav ul li{
    padding: 3px 6px;
    border-radius: 5px;
    background-color: teal;
    margin: 0px 5px;

}
li a{
    text-decoration: none;
}